/* card.css */
/**
 * Estilos para la sección de la página de ayuda
 *
 * Este archivo contiene los estilos para la sección de la página de ayuda.
 * Utiliza Flexbox para una disposición responsiva y organizada.
 */

/* Contenedor principal del componente */
.card-container {
  position: relative; /* Posiciona el contenedor */
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Animación de transición */
  cursor: pointer; /* Permite hacer clic en el contenedor */
}
 
/* Contenedor principal del componente */
.card-container:hover {
  transform: scale(1.05); /* Escala suave al pasar el mouse */
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3); /* Sombra más intensa */
}
  
/* Contenedor principal del componente */
.card-container.active {
  display: block; /* Muestra la carta */
  height: 110px; /* Ajusta el tamaño según el contenido */
  width: 110px; /* Ajusta el tamaño según el contenido */
  transform: scale(2.31192); /* Escala grande para simular el acercamiento */
  z-index: 100; /* Superpone la carta sobre las demás */
  position: fixed; /* Posiciona la carta */
  left: 50%; /* Centra la carta horizontalmente */
  right: 50%; /* Centra la carta horizontalmente */
  top:  50%; /* Centra la carta verticalmente */
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.4); /* Sombra más intensa */
  transition: transform 0.4s ease-in-out, box-shadow 0.4s ease-in-out, display 0.4s ease-in-out;
}
  
/* Contenedor principal del componente */
.card-image {
    width: 100%; /* Ajuste al contenedor */
    height: auto; /* Ajuste al contenedor */
    display: block; /* Evita que la imagen cause margen */
}

/* Contenedor principal del componente */
.card-container button {
  background-color: #007bff; /* Color de fondo */
  border-radius: 5px; /* Radio de bordes */
  cursor: pointer; /* Permite hacer clic en el botón */
  color: #fff; /* Color de texto */
  border: none; /* Sin borde */
  padding: 5px 10px; /* Tamaño del botón */
  transition: background-color 0.3s ease, transform 0.3s ease; /* Animación de transición */

}

/* Contenedor principal del componente */
.card-container button:hover {
  background-color: #0056b3; /* Color de fondo */
  border-color: #007bff; /* Color de borde */
  transform: translateY(-5px); /* Animación de transición */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); 

}
