/* carrusel.css */
/**
 * Estilos para la sección del carrusel
 *
 * Este archivo contiene los estilos para la sección del carrusel.
 * Utiliza Flexbox para una disposición responsiva y organizada.
 */
.carrusel-container {
  display: flex; /* Alineación de elementos */
  justify-content: center; /* Alineación horizontal */
  align-items: center; /* Alineación vertical */
  width: 60%; /* Ajusta el ancho según el contenido */
  height: 400px; /* Ajusta el alto según el contenido */ 
  background-color: black; /* Color de fondo */ 
  position: relative; /* Posiciona el contenedor */
  margin: 0 auto; /* Centra el contenedor en la página */
  margin-top: 150px; /* Ajusta este valor según la altura del header */
  overflow: hidden; /* Evita que el contenido se salga del contenedor */
}

/* Contenedor principal del componente */

.carrusel-image img {
  width: 100%; /* Ajusta el ancho según el contenido */
  height: 100%; /* Ajusta el alto según el contenido */
  object-fit: cover; /* Ajusta la imagen según el contenido */
}

.button-container button {
  position: absolute; /* Posiciona el botón */
  top: 50%; /* Centra el botón verticalmente */
  transform: translateY(-50%); /* Centra el botón horizontalmente */
  background-color: rgba(0, 0, 0, 0.5);   /* Color de fondo */
  color: white; /* Color de texto */
  border: none; /* Sin borde */
  padding: 10px; /* Tamaño del botón */
  cursor: pointer; /* Permite hacer clic en el botón */
  font-size: 20px; /* Tamaño de fuente */
}

.prev-btn {
  left: 10px; /* Ajusta el botón a la izquierda */
}

.next-btn {
  right: 10px; /* Ajusta el botón a la derecha */
} 

/* Contenedor del botón */
.button-container {
  display: flex;  /* Alineación de elementos */
  justify-content: center; /* Alineación horizontal */
  align-items: flex-start; /* Alineación en la parte inferior */
  width: 100%; /* Ajusta el ancho según el contenido */
  position: absolute; /* Posiciona el contenedor */
  bottom: 20px; /* Ajusta la distancia desde la par te inferior */
  padding: 20px;  /* Tamaño del contenedor */
}

.gallery-btn {
  background-color: #e62222; /* Color naranja base */
  color: #ffffff; /* Texto rojo oscuro */
  border-radius: 8px; /* Bordes redondeados */
  font-size: 1.2rem; /* Tamaño de fuente ajustable */
  cursor: pointer; /* Cursor de mano */
  box-shadow: 0 8px 16px #F1C40F; /* Sombra amarilla */
  padding: 8px 16px; /* Ajuste de padding */
  min-width: 150px; /* Define un tamaño mínimo para el botón */
  height: 40px; /* Define una altura fija para el botón */
  text-align: center; /* Centra el texto dentro del botón */
}

.gallery-btn:hover {
  background-color: #ff0a0a; /* Color naranja oscuro */
}