.deck-builder-container {

    margin: 10px auto;
    padding: 20px;
    max-width: 100%;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    text-align: center;
    margin-bottom: 15px;

}

.clear-deck-button {
    display: block;
    margin: 0 auto 20px; /* Centrar y dar margen inferior */
    padding: 10px 20px;
    background-color: #ff4c4c; /* Rojo */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.clear-deck-button:hover {
    background-color: #ff1a1a;
}

.deck-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Cuatro columnas */
    gap: 15px; /* Espaciado entre las cartas */
    padding: 10px; /* Espaciado interno */
    margin: 0 auto; /* Centrar grid */
    justify-content: center; /* Centrar las cartas horizontalmente */
}

.card {
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 10px;
    transition: transform 0.2s;
}

.card img {
    max-width: 100%; /* Asegurar que las imágenes no se salgan del contenedor */
    height: auto;
}

.card:hover {
    transform: scale(1.05); /* Animación al pasar el mouse */

}

.card p {
    margin: 10px 0 0;
    font-size: 14px;
    font-weight: bold;
}

