.deck-builder-container {
    margin: 120px;
    padding: 20px;
    max-width: 100%;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    text-align: center;
    margin-bottom: 15px;

}

.clear-deck-button {
    padding: 10px 20px;
    background-color: #ff4c4c;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}



.clear-deck-button:hover {
    background-color: #ff1a1a;
}

.deck-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /* Espaciado entre cartas */
    justify-content: center;
    margin: 20px;
    position: relative; /* Manejo de z-index de cartas */
}
  

.card {
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 10px;
    transition: transform 0.2s;
}

.card img {
    max-width: 100%; /* Asegurar que las imágenes no se salgan del contenedor */
    height: auto;
}

.card:hover {
    transform: scale(1.05); /* Animación al pasar el mouse */

}

.card p {
    margin: 10px 0 0;
    font-size: 14px;
    font-weight: bold;
}

.card-container {
        
    border: 1px solid #ddd;
    border-radius: 8px;
    text-align: center;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    width: 200px;
    padding-bottom: 10px;
}

.card-image img{
    width: 200px;
    height: auto;
}

.clear-deck-button-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    justify-content: center;
    gap: 30px;
}
