header {
  position: fixed;
  top: 0; /* Fija el header en la parte superior */
  width: 100%; /* Asegura que ocupe todo el ancho */
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #000000;
  color: #333333;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000; /* Asegura que esté por encima de otros elementos */
}

.poketitulo {
  height: 100px; /* Reduce la altura del header */
}

nav {
  width: 100%;
}

nav ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  margin: 0; /* Elimina márgenes extra */
  padding: 10px; /* Reduce el padding */
}

nav ul li {
  margin-right: 15px; /* Reduce el espacio entre los elementos */
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 1rem; /* Reduce el tamaño de la fuente */
  font-weight: bold;
  transition: color 0.3s ease;
  font-size: 22px;

}

nav ul li a:hover {
  color: #fd0a02;
}

/* Estilos para imágenes Header */
.imagesHeader {
  display: flex;
  justify-content: center;
  width: 95%;
  align-items: center;
}

/* Ajusta el layout en pantallas pequeñas */
@media (max-width: 768px) {
  nav ul {
    flex-direction: column;
    align-items: center;
  }

  nav ul li {
    margin: 8px 0; /* Reduce el espacio en pantallas pequeñas */
  }
}

/* Ajuste para el contenido principal */
.body-content {
  padding-top: 120px; /* Ajusta según la nueva altura del header */
}
