.suggestions {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 10px;
  margin: 30px;
  justify-content: center;
  
}

.suggestion-card {
  position: relative;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  text-align: center;
  background-color: #f9f9f9;
  transition: transform 0.3s;
  width: 180px; /* Asegura que todas las cartas tengan el mismo ancho */
}

/* Asegura que las imágenes de las cartas tengan el tamaño correcto */
.suggestion-card img {
  width: 100%; /* Ajuste al contenedor */
  height: auto;
  display: block; 
  border-radius: 5px;
}


/* Botones dentro de las cartas sugeridas */
.suggestion-button {
  position: absolute;
  margin-top: 8px;
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 10px;
  cursor: pointer;
}
.suggestion-card button {
  background-color: #007bff;
  border-radius: 5px;
  cursor: pointer;
  color: #fff;
  border: none;
  padding: 5px 10px;
}
/* Efecto hover en los botones */
.suggestion-card button:hover {
  background-color: #0056b3;
  border-color: #007bff;
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

/* Efecto hover en las cartas */
.suggestion-card:hover {
  transform: scale(1.05); /* Agranda la carta ligeramente */
  border-color: #007bff;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

/* Oculta cualquier contenido no deseado en el contenedor principal */
.suggestions-container {
  overflow: hidden; /* Asegura que solo se muestre el contenido deseado */
}
