/* Establece el fondo negro para todo el cuerpo de la página */
body {
  background-color: black;
  color: rgb(0, 0, 0); /* Esto hace que el texto sea blanco para que sea visible en el fondo negro */
  margin: 0; /* Elimina el margen por defecto del navegador */
  padding: 0; /* Elimina el padding por defecto del navegador */
  font-family: Arial, sans-serif; /* Opcional, establece la fuente */
}

/* También puedes hacer que el contenedor root ocupe toda la pantalla */
#root {
  min-height: 100vh; /* Asegura que el contenedor ocupe toda la altura de la pantalla */
  display: flex;
  flex-direction: column; /* Esto puede ayudar si tienes una estructura de página basada en flexbox */
}
